
 :root{
  --font-title : 30px;
  --font-subtitle: 25px;
  --font-secundary: 20px:
}


/*ESTILOS TITULOS*/
.tittle-levels{
  font-size: var(--font-title);
  font-weight: 800;
  color: #111;
}

.secundary-levels{
  font-size:25px;
  font-weight: 800;
  color: #444;
}

.subtitle-levels{
  font-size: var(--font-subtitle);
  font-weight: 800;
  color: #444;
}


/* ESTILOS DE LOS BOTONES */
.buttonSubmit{
  background-color: rgb(30, 145, 30);
  border: none;
  border-radius: 5px;
  height: 30px;
  min-width: 100px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  transition: all 0.5s;
}

.buttonSubmit:hover {
  background-color: rgb(23, 77, 23);
}


.buttonRegister{
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  height: 30px;
  min-width: 100px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  transition: all 0.5s;
}

.buttonRegister:hover {
  background-color: rgb(46, 46, 46);
}





  body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  